{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in items %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: значок"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h4 class="mb-0">{{ item.title }}</h4>
                        <p>{{ item.category }}</p>
                        <p></p>
                        <div><h4>{{ item.price }} руб</h4></div>


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('ShopItem', {'id':item.id}) }}"
                                   class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
